html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body {
	font-family: "Tagesschrift", serif !important;
	background-color: #fdf5e6 !important;
}
header {
	background-color: #3f2a14;
	border-radius: 500px;
	height: 4.5rem;
}
.nav-link{
	color: #AAAAAA;
	font-size: 1.3rem !important;
}
.nav-link:hover {
       color: #FFFFFF;
       text-decoration: underline;
}
.navbar-brand {
	height: 4rem;
	width: auto;
	border-radius: 1000px;
}
.front-holder {
	margin-top: 2rem;
}
.front-page {
	background-image: url("https://img.freepik.com/premium-photo/stack-cookies-with-blurry-background-lights-them_662214-117383.jpg");	
	background-size: cover;
	background-position: center;
	min-height: 60vh;
	width: 90%;
	border-radius:50px;
}
.welcome {
	font-size: 4rem;
}
.btn-cookie {
	color: white !important;
	background-color: #3f2a14 !important;
}
.rhombus {
	display: inline-block;
	background: linear-gradient(90deg,#A00000,#700000); /* Background color of the rhombus */
	clip-path: polygon(7% 10%, 97% 10%, 92% 100%, 2% 100%); /* Rhombus shape */
        color:#fffdfd;
	padding: 20px 40px;
	font-size: 24px;
	z-index: 1;
}

.image-caption{
	font-size: 2.5rem;
}
[class*="button-"]{
	margin-right: 3rem;
}
.second-button{
	float: left;
}
.product-image{
	width: 95%;
	border: 8px #3f2a14 solid;
}
.fade-in-out{
	opacity: 0;
	transition: opacity 0.5s ease;
}
.visible{
	opacity: 1;
}
footer {
	height: 5rem;
	color: white;
	font-family: sans-serif;
	background-color: #3f2a14 ;
}

.bg-light {
	background-color: #888888;
}
.cart-container {
	height: fit-content;
	position: fixed;
	right: 3rem;
	top: 6rem;
	padding: 1rem;
}
.dropdown{
	display: none;
}
.total-background{
	display: none;
	background-color: white;
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	opacity:50%;
	z-index:1;
}
.contact-page-title {
    font-size: 3rem;
    margin: 0;
}
.contact-wrapper {
	display: flex;
	flex-direction: column;
}
.contact-page-content {
    padding: 20px;
	flex: 1;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
}

.contact-page-subtitle {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.contact-page-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.contact-page-info {
    font-size: 1.2rem;
}

.contact-page-info-email,
.contact-page-info-instagram {
    margin: 10px 0;
}

.contact-page-link {
    color: #3f2a14;
    text-decoration: none;
}

.contact-page-link:hover {
    text-decoration: underline;
}
@media (max-width: 991px) {
	.rhombus{
		display: none;
		margin: none;
		padding: none;
	}
	.front-page{
		width: 100%;
		height: 100%;
		min-height: 30vh;
		border-radius: 0;
		background-image: none;
	}
	.welcome{
		font-size: 8rem;
	}
	.subwelcome{
		font-size: 2rem;
	}
	.btn-lg{
		padding: 1rem 2rem 1rem 2rem !important;
		font-size:3rem !important;
	}
	header{
		height: 10rem;
		border-radius: 0;
		margin: 0;
		display: flex;
		align-content: center;
		width: 100vw !important;
	}
	.navbar{
		width: 100vw !important;
	}
	.nav-link{
		font-size: 3rem !important;
	}
	.navbar-brand{
		display: none;
	}
	.front-holder {
		margin-top: 0;
	}
	[class*="col-"]{
		width: 100% !important;
	}
	.image-caption{
		margin-top: 2rem;
	}
	.second-button{
		float: right;
	}
	footer{
		font-size: 2rem;
	}
	.order-title{
		font-size: 5rem;
		width: 60vw;
		margin-left: 20vw;
		text-align: center;
	}
	.product-name{
		font-size: 4rem;
		margin-top: 2rem;
	}
	.product-image{
		width:100%;
	}
	.product-quantity{
		font-size:3rem;
		margin-top:2rem;
	}
	.product-select{
		font-size:3rem !important;
		margin-bottom:2rem;
	}
	main{
		margin: 0 !important;
	}
	.order-content{
		width: 100vw;
	}
	.cart-container{
		font-size:3rem;
		h2, h5{
			font-size:3rem !important;
		}
	}
	.fade-in-out{
		font-size:3rem;
	}
	.border.rounded.bg-light {
		background-color: none;
	}
	#normal-cart{
		display: none;
	}
	.dropdown {
		display: inline-block;
		position: fixed !important;
		top: 8.5vh;
		right: 13vw;
		padding:5rem;
		z-index: 10;
	}
	.dropdown-content {
		display: none; /* Hidden by default */
		position: absolute;
		background-color: white;
		min-width: 160px;
		box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
		z-index: 10;
	}
	.show {
		display: block !important;
	}
	.cart-container{
		top:23vh;
		right:10vw;
		width: 70vw;
	}
	#dropdownButton{
		position: absolute;
		z-index:20;
		font-size:5rem;
		padding: 1rem 1.9rem 1rem 1.9rem;
		border-radius:9999px;
	}
	.contact-page-subtitle{
		font-size:8rem;
	}
	.contact-page-description, .contact-page-info{
		font-size: 4rem;
	}
}