html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	height: 100%;
}
body {
	font-family: "Tagesschrift", serif !important;
	background-color: #fdf5e6 !important;
	display: flex;
	flex-direction: column;
}
header {
	background-color: #3f2a14;
	border-radius: 500px;
	position: relative;
}
header, footer {
  flex: 0 0 auto; /* fixed height based on content */
}
main {
	flex: 1 0 auto;   /* take remaining space */
}
footer {
	margin: 0 !important;
	background-color: #3f2a14 !important;
	flex-shrink: 0;
	p {
		color: white !important;
		font-family: sans-serif !important;
		display: inline !important;
	}
	.footer-socials{
		text-align: end;
	}
}

.nav-link{
	color: #AAAAAA;
	font-size: 1.3rem !important;
}
.nav-link:hover {
       color: #FFFFFF;
       text-decoration: underline;
}
.navbar-brand {
	height: 4rem;
	width: auto;
	border-radius: 1000px;
}

.btn-cookie {
	color: white !important;
	background-color: #3f2a14 !important;
}

h1 {
	font-size: 4rem !important;
}
h2 {
	font-size: 3rem !important;
}
h3 {
	font-size: 2rem !important;
}
h4 {
	font-size: 1.5rem !important;
}
h5 {
	font-size: 1.25rem !important;
}
p {
	font-size: 1rem !important;
}

@media (max-width: 991px) {
	.btn-lg{
		padding: 0.4rem 0.8rem !important;
		font-size:1.5rem !important;
	}
	/*
	h1 {
		font-size: 10rem !important;
	}
	h2 {
		font-size: 8rem !important;
	}
	h3 {
		font-size: 6rem !important;
	}
	h4 {
		font-size: 4rem !important;
	}
	h5 {
		font-size: 3.5rem !important;
	}
	p {
		font-size: 3rem !important;
	}
	.small-text {
		font-size: 2rem !important;
	}
	header{
		height: 10rem;
		border-radius: 0;
		margin: 0;
		display: flex;
		align-content: center;
		width: 100vw !important;
	}
	.navbar{
		width: 100vw !important;
	}
	.nav-link{
		font-size: 3rem !important;
		padding-top: 2px;
		padding-bottom: 2px;
	}
		
		*/
	.navbar-brand{
		display: none;
	}
	[class*="col-"]{
		width: 100% !important;
	}
}